/***GENERAL STYLES***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h1 {
    color: rgb(255, 255, 251);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

img {
    max-width: 100%;
}

.content-container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    padding: 1rem 2rem;
}
/***MAIN STYLES***/
.logo {
    width: 9rem;
    height: auto;
}

.mockup-img {
    margin: 4rem 0;
    justify-self: center;
    align-self: center;
}

article {
    text-align: center;
    justify-self: center;
}

article p {
    color: rgb(255, 255, 231);
    margin: 1.5rem 0;
    font-size: .955rem;
    padding: 0 .75rem;
    line-height: 1.5;
}

button {
    border-radius: 30px;
    padding: .65rem 1rem;
    width: 12rem;
    box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
    border: none;
}

.cta-btn {
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    font-size: .85rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-links img {
    width: 1.75rem;
    margin: 3rem 0 1.5rem;
    filter: invert(100%);
}

/****FOOTER STYLES***/
.attribution { 
    font-size: 11px; text-align: center; 
    margin-bottom: 1rem;
}

.attribution a { 
    color: rgb(255, 255, 231); 
}
/***MEDIA QUERIES***/
@media (min-width: 768px) {
    body {
        background-image: url('images/bg-desktop.svg');
        background-repeat: repeat-y;
        background-size: cover;
    }

    .content-container {
        background-image: none;
    }

    .logo {
        margin-top: 2rem;
        margin-left: .75rem;
        width: 15rem;
    }

    h1 {
        font-size: 2rem;
    }

    article p {
        font-size: 1.1rem;
        padding: 0 5rem;
    }

    footer {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .content-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }

    .mockup-img {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        width: 95%;
        justify-self: center;
        align-self: end;
        margin-top: 8rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    article {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        text-align: left;
        margin-top: 9rem;
    }

    article p {
        font-size: 1.2rem;
        font-weight: lighter;
        padding: 0 7rem 0 0;
    }

    button{
        width: 12.5rem;
        padding: 1rem 3rem;
    }

    .cta-btn {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .cta-btn:hover,
    .cta-btn:focus  {
        font-size: 1.5rem;
        font-weight: 700;
        transition: ease-in 350ms;
    }

    .social-links {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        justify-self: end;
        align-self: end;
        margin-right: 7.05rem;
    }

    .social-links img {
        width: 2.5rem;
    }

}



